<div class="row">
  <div class="e-section-control col-6 d-flex justify-content-end">
    <!-- To Render Menu. -->
  <ejs-menu class="top-nav-menu text-end" [items]='menuItems'></ejs-menu>

  <ng-container *ngIf="user === undefined;else showLogout">
    <a [routerLink]="['/login']" class="btn btn-primary ">Login</a>
  </ng-container>

  <ng-template #showLogout>
    <span>{{user?.email}}</span>
    <a class="btn btn-primary ms-3" (click)="onLogout()">Logout</a>
  </ng-template>

  <!-- <a [routerLink]="['/change-password']" class="btn btn-primary ">change password</a> -->

  </div>
</div>
