<!-- <div class="row">
  <div class="e-section-control col-6 d-flex justify-content-end">


  <ng-container *ngIf="user === undefined;else showLogout">
    <a [routerLink]="['/login']" class="btn btn-primary ">Login</a>
  </ng-container>

  <ng-template #showLogout>
    <span>{{user?.email}}</span>
    <a class="btn btn-primary ms-3" (click)="onLogout()">Logout</a>
  </ng-template>

  <a [routerLink]="['/change-password']" class="btn btn-primary ">change password</a>

  </div>
</div> -->

<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex">
    <i class="sidemenu-toggler fas fa-bars fs-4" (click)="onToggle()"></i>
  </div>
  <div class="d-flex justify-content-end align-items-center dropdown">
    <button
      type="button"
      class="btn d-flex align-items-center border-0 dropdown-toggle"
      style="background-color: transparent"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      aria-expanded="false"
    >
      <div class="me-3 d-flex flex-column align-items-end">
        <p class="fw-bold mb-0">Welcome Back,</p>
        <p class="text-muted mb-0">{{ user?.email }}</p>
      </div>
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        style="width: 45px; height: 45px"
        class="rounded-circle me-2"
      />
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
      <li>
        <button class="dropdown-item" type="button">
          <i class="far fa-user pe-2"></i>
          My Account
        </button>
      </li>
      <li>
        <button class="dropdown-item" type="button">
          <i class="far fa-laptop pe-2"></i>
          My Assets
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" type="button" (click)="onLogout()">
          <i class="far fa-sign-out pe-2"></i>
          Sign Out
        </button>
      </li>
    </ul>
  </div>
</div>
