<!-- Define grid columns -->
<!-- <ejs-grid [dataSource]="assetList" [allowPaging]="true" [pageSettings]="pageSetting" [allowSorting]="true">
  <e-columns>
    <e-column field='id' headerText='ID' textAlign='Left' width=30></e-column>
    <e-column headerText='' width='30' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div class="image">
            <img src="{{data.imageUrl}}" alt="{{data.imageUrl}}" width="40rem" height="40rem" class="asset-img rounded" />
          </div>
        </td>
      </ng-template>
    </e-column>
    <e-column field='name' headerText='Name' width=60></e-column>
    <e-column field='assetType' headerText='Type' textAlign='Left' format='C2' width=60></e-column>
    <e-column field='assetValue' headerText='Value' textAlign='Left' format='C2' width=60></e-column>
    <e-column field='createdOn' headerText='Date Created' textAlign='Left' format='yMd' width=60></e-column>
    <e-column field='userId' headerText='Current User' textAlign='Left' format='yMd' width=60></e-column>
    <e-column headerText='' width='80' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div>
            <button class="btn btn-outline btn-sm m-1">Edit</button>
            <button class="btn btn-outline-info btn-sm m-1"
            (click)="sendData(data)"
            [routerLink]="[data.id]"
            >View</button>
            <button class="btn btn-outline-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#delete-record" (click)="deleteAsset(data.id, 'asset')">Delete</button>
          </div>
        </td>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid> -->


<table class="table table-striped table-hover align-middle my-4 bg-white">
  <thead class="bg-light">
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        </div>
      </th>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Value (Rs)</th>
      <th>Date purchased</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assetList">
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
        </div>
      </td>
      <td>
        {{asset.id}}
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              [src]="asset.imageUrl"
              alt=""
              style="width: 45px; height: 45px;object-position: center;"
              class="rounded object-fit-cover"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{asset.name}}</p>
            <p class="text-muted mb-0">{{asset.assetType}}</p>
          </div>
        </div>
      </td>
      <td>
        <!-- <p class="fw-normal mb-1">Software engineer</p> -->
        <p class="mb-0">{{asset.description! | truncate:50}}</p>
      </td>
      <td>
        <p class="mb-0">{{asset.assetValue!}}</p>
      </td>
      <td>{{asset.dateCreated}}</td>
      <td>
        <!-- <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button> -->
        <div class="d-flex flex-column flex-md-row gap-2">
          <button type="button" class="btn btn-sm btn-outline-secondary "
        (click)="sendData(asset)"
            [routerLink]="[asset.id]">
          View
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger"
        data-bs-toggle="modal" data-bs-target="#delete-record" (click)="deleteAsset(asset.id!, 'asset')">
          Delete
        </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

