<div class="row">
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <h2>Asset Details</h2>
    <div class="d-flex gap-2">
      <ng-container *ngIf="item.assetStatus == 1">
        <button
          type="button"
          class="btn btn-outline-secondary cta"
          data-bs-toggle="modal"
          data-bs-target="#dispose-asset-modal"
          (click)="onDispose()"
        >
          Dispose
        </button>
        <button
          type="button"
          class="btn btn-primary cta"
          data-bs-toggle="modal"
          data-bs-target="#assignAssetModal"
          (click)="onCheckIn()"
        >
          Check in
        </button>
      </ng-container>

      <ng-container *ngIf="item.assetStatus == 2">
        <button
          type="button"
          class="btn btn-primary cta"
          data-bs-toggle="modal"
          data-bs-target="#release-asset-modal"
          (click)="onCheckOut()"
        >
          Check out
        </button>
      </ng-container>

      <ng-container *ngIf="item.assetStatus == 5">
        <div class="d-flex gap-2">
          <select class="form-select" aria-label="Default select example" #actionSelect>
            <option selected disabled>Actions</option>
            <option value="restore">Restore</option>
            <option value="repair">Repair</option>
            <option value="sell">Sell</option>
          </select>
          <button
            type="button"
            class="btn btn-primary cta"
            (click)="onActionSelect(actionSelect.value)"
          >
            Apply
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div>
  <div class="col-12 widgets justify-content-start m-0 mt-5 mb-2">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start w-50">
          <div class="col-4">
      <div class="">
        <div class="row">
          <div class="col-12 col-lg-2" style="min-width: 180px">
            <div class="d-flex">
              <img
                [src]="item.imageUrl"
                class="object-fit-cover border p-4 rounded"
                style="
                  object-position: center;
                  min-width: 10rem;
                  min-height: 10rem;
                "
                width="150rem"
                height="150rem"
                alt=""
              />
            </div>
          </div>
          <div class="col-12 col-lg-10 pt-4 text-start">
            <div class="fs-5 fw-bold">Status</div>
            <div class="">
              <div class="">
                <!-- <div class="">
                  <span>Availability :</span>
                </div> -->
                <div class="">
                  <span
                    class="badge rounded-pill d-inline-block"
                    style="min-width: 70px"
                    [ngClass]="getStatus(item.assetStatus!).class"
                    >{{ getStatus(item.assetStatus!).text }}</span
                  >
                </div>
              </div>
              <div class="d-flex my-1" *ngIf="item.assetStatus == 2">
                <div class="me-2">
                  <span>Assigned to : </span>
                </div>
                <div class="">
                  <span>{{ item.userId }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <span>
              <qrcode (qrCodeURL)="onCodeChange($event)" [width]="180" qrdata="item.id.toString()"></qrcode>
            </span>
          </div>
          <div class="mt-5 pt-4">
            <span>
              <button type="button" class="btn btn-outline-secondary custom-button"><a [href]="url" download="Asset QR Code">Print</a></button>
            </span>
          </div>
        </div>
        <ul class="nav nav-tabs my-4">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ 'active': isTab1Open() }"
              (click)="onTab1Click()"
              >Primary Info</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ 'active': isTab2Open() }"
              (click)="onTab2Click()"
              >Vendor</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ 'active': isTab3Open() }"
              (click)="onTab3Click()"
              >View log</a
            >
          </li>
        </ul>
        <div class="row mt-4 px-4" [class.isHidden]="!isTab1Open()">
          <!-- <div class="fs-5 fw-bold">Primary details</div> -->
          <div class="my-4">
            <form [formGroup]="editForm">
              <div class="mb-3 row">
                <label
                  for="name"
                  class="col-sm-4 col-lg-2 col-form-label fw-bold"
                  >Name</label
                >
                <div class="col-sm-8 col-lg-10">
                  <input
                    formControlName="name"
                    type="text"
                    class="form-control"
                    id="name"
                    [value]="item.name"
                    (change)="onFormDirty()"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="id" class="col-sm-4 col-lg-2 col-form-label fw-bold"
                  >Id</label
                >
                <div class="col-sm-8 col-lg-10">
                  <input
                    formControlName="id"
                    type="text"
                    class="form-control"
                    id="id"
                    [value]="item.id"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="assetType"
                  class="col-sm-4 col-lg-2 col-form-label fw-bold"
                  >Type</label
                >
                <div class="col-sm-8 col-lg-10">
                  <select
                    formControlName="assetType"
                    class="form-control"
                    id="assetType"
                    [value]="item.assetType"
                    (change)="onFormDirty()"
                  >
                    <option value="Keyboard">Keyboard</option>
                    <option value="Mouse">Mouse</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="description"
                  class="col-sm-4 col-lg-2 col-form-label fw-bold"
                  >Description</label
                >
                <div class="col-sm-8 col-lg-10">
                  <textarea
                    formControlName="description"
                    rows="8"
                    class="form-control"
                    id="Description"
                    [value]="item.description"
                    (change)="onFormDirty()"
                  >
                  </textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="my-4 row pe-0">
            <div class="gap-2 text-end pe-0">
              <button
                type="button"
                class="btn btn-primary cta"
                (click)="onSave()"
                [disabled]="!isDirty"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
        <div class="row w-50 mt-4 px-4" [class.isHidden]="!isTab2Open()">
          <!-- <div class="fs-5 fw-bold">Vendor details</div> -->
          <div class="my-4">
            <div class="row">
              <div class="col-4">
                <span>Name :</span>
              </div>
              <div class="col-6">
                <span>Lahiru (PVT) LTD</span>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <span>Contact :</span>
              </div>
              <div class="col-6">
                <span>0760944045</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
