@import '../../../theme.scss';


.form-control {
  max-width: 400px;
}

.nav-item {
  cursor: pointer;
}

.nav-link {
  color: $text-default;
}

.active {
  font-weight: bold;
}

.isHidden {
  display: none;
}

.custom-button {
  border-radius : 8px; 
}
.custom-button a:hover {
  color:  #f4f4f4d4 !important;
}

