

<div class="d-flex justify-content-start">
  <input
    class="form-control me-2 w-auto"
    type="search"
    placeholder="Search here..."
    [(ngModel)]="filterText"
    (input)="applyFilter()"
  /> 
  
</div>


<table class="table table-striped align-middle my-4 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        </div>
      </th>
      <th>User Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <!-- <th>Role</th> -->
      <th>Actions</th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let employee of filteredEmployeeList">
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
        </div>
      </td>
      <td>
        {{employee.customUserId}}
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="../../assets/propic.jpg"
              alt=""
              style="width: 45px; height: 45px;object-position: center;"
              class="rounded object-fit-cover"
              />
          <div class="ms-3">
            <p class=" mb-0">{{employee.firstName}} {{employee.lastName}}</p>
           
          </div>
        </div>
      </td>
      <td>
        <!-- <p class="fw-normal mb-1">Software engineer</p> -->
      
        <p class="text-muted mb-0 small"> {{employee.email}}</p>
      </td>
      
      <td>
        <p class="mb-0">{{employee.role}}</p>
      </td>
      <td>
        <!-- <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button> -->
        <button type="button" class="btn btn-link btn-sm btn-rounded"(click)="sendData(employee)"[routerLink]="[employee.id]">View</button>
        <button type="button" class="btn btn-link btn-sm btn-rounded text-danger"data-bs-toggle="modal" data-bs-target="#delete-record" (click)="deleteEmployee(employee.id!, 'employee')">Delete</button>
      </td>
    </tr>
  </tbody>


</table>




<button (click)="toggleTableVisibility()">Deleted Employees</button>
<table *ngIf="showDeletedTable" class="table table-striped align-middle my-4 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        </div>
      </th>
      <th>User Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <!-- <th>Role</th> -->
      <th>Actions</th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let employee of deletedEmployeeList">
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
        </div>
      </td>
      <td>
        {{employee.customUserId}}
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="../../assets/propic.jpg"
              alt=""
              style="width: 45px; height: 45px;object-position: center;"
              class="rounded object-fit-cover"
              />
          <div class="ms-3">
            <p class=" mb-0">{{employee.firstName}} {{employee.lastName}}</p>
           
          </div>
        </div>
      </td>
      <td>
        <!-- <p class="fw-normal mb-1">Software engineer</p> -->
      
        <p class="text-muted mb-0 small"> {{employee.email}}</p>
      </td>
      
      <td>
        <p class="mb-0">{{employee.role}}</p>
      </td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded text-danger"data-bs-toggle="modal" data-bs-target="#recover-user" (click)="recoverUser(employee.id!)">Re-Store</button>
     
     </td>
    </tr>
  </tbody>


</table>








