<!-- <div class="d-flex justify-content-center align-items-center vh-100 vw-100 bg-light">
  <div class=" shadow-sm w-25 p-4 bg-white rounded">


      <h1 class="h4 font-weight-bold">Reset Password</h1>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPassword()">
        <div class="form-group mt-3">
          <label for="email" class="font-weight-medium">Email Address</label>
          <input type="email" id="email" name="email" class="form-control" formControlName="email" placeholder="Email" required>
        </div>
        <button type="submit" [disabled]="!forgotPasswordForm.valid || isSubmitting" class="btn btn-dark w-100 mt-2">
          Request Reset Password
        </button>
        <div *ngIf="isSubmitting" class="mt-2">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </form>

  </div>
</div> -->


<!-- <div class="container mt-5 fullscreen-background">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow-lg border-0">
        <div class="card-body p-5">

            <h1 class="h4 font-weight-bold text-center mb-4">Reset Password</h1>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPassword()" novalidate>
              <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" formControlName="email" placeholder="Enter your email" required>
                <div class="invalid-feedback" *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].dirty)">
                  Please enter a valid email.
                </div>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="!forgotPasswordForm.valid || isSubmitting">Request Reset Password</button>
              </div>

              <div *ngIf="isSubmitting" class="mt-2 text-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </form>

        </div>
      </div>
    </div>
  </div>
</div> -->
