<!-- Define grid columns -->
<!-- <ejs-grid [dataSource]="notificationList" [allowPaging]="true" [pageSettings]="pageSetting"
          [allowSorting]="true" [allowPdfExport]="true">
  <e-columns>
    <e-column field='id' headerText='ID' textAlign='Left' width=60></e-column>
    <e-column field='title' headerText='Title' width=60></e-column>
    <e-column field='description' headerText='Description' textAlign='Left' width=120></e-column>
    <e-column field='date' headerText='Date' textAlign='Right' width=60></e-column>
    <e-column field='time' headerText='Time' textAlign='Right' width=60></e-column>

    <e-column headerText='' width='80' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div>
            <button class="btn btn-outline-danger btn-sm m-1" (click)="deleteNotification(data.id)">Delete</button>
          </div>
        </td>
      </ng-template>
    </e-column>

</e-columns>
</ejs-grid> -->

<table class="table align-middle my-4 bg-white">
  <thead class="bg-light">
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        </div>
      </th>
      <th>Name</th>
      <th>Title</th>
      <th>Status</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">John Doe</p>
            <p class="text-muted mb-0">john.doe.gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Software engineer</p>
        <p class="text-muted mb-0">IT department</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      <td>Senior</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
