<!-- Define grid columns -->
<ejs-grid [dataSource]="notificationList" [allowPaging]="true" [pageSettings]="pageSetting"
          [allowSorting]="true" [allowPdfExport]="true">
  <e-columns>
    <!-- <e-column field='id' headerText='ID' textAlign='Left' width=60></e-column> -->
    <e-column field='title' headerText='Title' width=60></e-column>
    <e-column field='description' headerText='Description' textAlign='Left' width=120></e-column>
    <e-column field='date' headerText='Date' textAlign='Right' width=60></e-column>
    <e-column field='time' headerText='Time' textAlign='Right' width=60></e-column>

    <e-column headerText='' width='80' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div>
            <button class="btn btn-outline-danger btn-sm m-1" (click)="deleteNotification(data.id)">Delete</button>
          </div>
        </td>
      </ng-template>
    </e-column>

</e-columns>
</ejs-grid>

