@import '../../../../theme.scss';

.my-assets-widget {
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  color: $text-white;

  .my-assets-widget-icon {

    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: $text-white;
    background-color: rgba(255, 255, 255, 0.186);
  }

  .my-assets-widget-sub-card {
    // color: $text-default;
    // background-color: rgba(255, 255, 255, 1);
  }
}
