@import "../../theme.scss";

// main  container
nav {
  background-color: #08061e;
  height: 100vh;
  padding: 10px;
}

//logo container
.logo-container {
  padding: 16px;
}


// list items
.sidenav-nav {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.sidenav-nav-item {
  list-style: none;
  margin: 4px 0;
  padding: 0;
  display: block;
  width: 100%;
  font-size: 15px;

  .sidenav-nav-item-link {
    text-decoration: none;
    color: $text-white;
    border-radius: 2px;
    opacity: 0.75;
    display: block;
    width: 100%;
    height: inherit;
    padding: 12px;
  }

  .sidenav-nav-icon {
    display: inline-block;
    color: $text-white;
    width: 20px;
    font-size: 15px;
  }

  .sidenav-nav-item-text {
    margin-left: 10px;
  }
}

.sidenav-nav-item:hover {
  background-color: $bg-dark-hover;
  .sidenav-nav-icon,
  .sidenav-nav-item-link {
    opacity: 1;
  }
}


.active {
  background-color: $bg-dark-hover;
}

.active.sidenav-nav-icon,
.active.sidenav-nav-item-link {
  opacity: 1 !important;
  color: $text-white;
}
