<div class="row fluid-container">

  <!--Sidemenu-->
  <ejs-sidebar id="default-sidebar" width="250" position="Left" [isOpen]="true" target=".main">
    <app-sidebar-menu class="sidebar-content"></app-sidebar-menu>
  </ejs-sidebar>

  <!--Page content-->
  <div class="col p-4">
    <div class="header-container p-1">
      <app-header></app-header>
    </div>
    <div class="container p-1 mw-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-new-asset></app-new-asset>
<app-new-vendor></app-new-vendor>
<app-edit-vendor></app-edit-vendor>
<app-new-employee></app-new-employee>
<app-delete-record></app-delete-record>
<app-send-contract></app-send-contract>
<ng-toast></ng-toast>

