<div class="d-flex" style="width: 100%">
  <app-sidemenu #sidemenu
 (onToggleSidemenu)="onToggleSideMenu($event)"
 *ngIf="showSideNav"
 ></app-sidemenu>
  <!--Page content-->
  <div
    class="d-flex flex-column px-3 py-2 body-width-expanded"
    [ngClass]="{ 'body-width': !isSideMenuCollapsed }"
    [class.body-full-width]="!showSideNav"
  >
    <div class="header-container p-2" *ngIf="showHeader">
      <app-header (toggleSideMenu)="sidemenu.logoBtn.nativeElement.click()" ></app-header>
    </div>
    <div class="container px-2 my-4 mw-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-delete-record></app-delete-record>
<app-new-employee></app-new-employee>
<app-new-asset></app-new-asset>
<app-new-employee></app-new-employee>
<app-new-vendor></app-new-vendor>
<app-edit-vendor></app-edit-vendor>
<app-delete-record></app-delete-record>
<app-send-contract></app-send-contract>
<app-assign-assets></app-assign-assets>
<app-release-asset></app-release-asset>
<app-dispose-asset></app-dispose-asset>
<app-sell-asset></app-sell-asset>
<app-assign-asset-employee-side></app-assign-asset-employee-side>
<app-asset-types-modal></app-asset-types-modal>
<ng-toast></ng-toast>
