<div class="row">
  <div class="section-header d-flex m-0 mt-5">
    <h5 class="d-flex"><i class="fal fa-solid fa-laptop pe-2"></i> My Assets</h5>
    <div class="actions">
      <button class="btn btn-secondary">View all ({{assetList.length}})</button>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Create new</button>
    </div>
  </div>
  <div class="row">
    <div class="card-group mt-4">
      <app-asset-card *ngFor="let item of assetList | slice: (page-1) * pageSize : page * pageSize; "
      [id]="item.id"
      [name]="item.name"
      [model]="item.assetType"
      [imgUrl]="item.imageUrl"
      ></app-asset-card>
    </div>
  </div>
  <div class="row m-0 mt-4">
    <ngb-pagination
      class="d-flex justify-content-center"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="assetList.length"
      size="sm" >
    </ngb-pagination>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create new</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
