<!-- Define grid columns -->
<ejs-grid [dataSource]="assetList" [allowPaging]="true" [pageSettings]="pageSetting" [allowSorting]="true">
  <e-columns>
    <e-column field='id' headerText='ID' textAlign='Left' width=30></e-column>
    <e-column headerText='' width='30' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div class="image">
            <img src="{{data.imageUrl}}" alt="{{data.imageUrl}}" width="32px" />
          </div>
        </td>
      </ng-template>
    </e-column>
    <e-column field='name' headerText='Name' width=60></e-column>
    <e-column field='assetType' headerText='Type' textAlign='Left' format='C2' width=60></e-column>
    <e-column field='description' headerText='Description' textAlign='Left' format='C2' width=90></e-column>
    <e-column field='assetValue' headerText='Value' textAlign='Left' format='C2' width=60></e-column>
    <e-column field='isActive' headerText='isActive' textAlign='Left' format='yMd' width=60></e-column>
    <e-column headerText='' width='80' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div>
            <button class="btn btn-outline btn-sm m-1">Edit</button>
            <button class="btn btn-outline-danger btn-sm m-1" (click)="deleteAsset(data.id)">Delete</button>
          </div>
        </td>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>