<!-- Define grid columns -->
<!-- <ejs-grid [dataSource]="assetList" [allowPaging]="true" [pageSettings]="pageSetting" [allowSorting]="true">
  <e-columns>
    <e-column field='id' headerText='ID' textAlign='Left' width=30></e-column>
    <e-column headerText='' width='30' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div class="image">
            <img src="{{data.imageUrl}}" alt="{{data.imageUrl}}" width="40rem" height="40rem" class="asset-img rounded" />
          </div>
        </td>
      </ng-template>
    </e-column>
    <e-column field='name' headerText='Name' width=60></e-column>
    <e-column field='assetType' headerText='Type' textAlign='Left' format='C2' width=60></e-column>
    <e-column field='assetValue' headerText='Value' textAlign='Left' format='C2' width=60></e-column>
    <e-column field='createdOn' headerText='Date Created' textAlign='Left' format='yMd' width=60></e-column>
    <e-column field='userId' headerText='Current User' textAlign='Left' format='yMd' width=60></e-column>
    <e-column headerText='' width='80' textAlign='Right'>
      <ng-template #template let-data>
        <td>
          <div>
            <button class="btn btn-outline btn-sm m-1">Edit</button>
            <button class="btn btn-outline-info btn-sm m-1"
            (click)="sendData(data)"
            [routerLink]="[data.id]"
            >View</button>
            <button class="btn btn-outline-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#delete-record" (click)="deleteAsset(data.id, 'asset')">Delete</button>
          </div>
        </td>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid> -->
<!-- <div class="row">
  <div class="d-flex gap-2" style="width: auto">
    <select
      class="form-select"
      aria-label="Default select example"
      (change)="(filters.label)"
      #filter
    >
      <option selected disabled>Filter by</option>
      <option value="none">none</option>
      <option value="category">Category</option>
      <option value="status">Status</option>
    </select>

    <select
      class="form-select ms-2"
      aria-label="Default select example"
      *ngIf="filter.value == 'status'"
    >
      <option selected disabled>-Select-</option>
      <option value="free">Free</option>
      <option value="acquired">Acquired</option>
      <option value="damaged">Damaged</option>
      <option value="maintenance">Maintenance</option>
      <option value="disposal">Disposal</option>
    </select>

    <select
      class="form-select ms-2"
      aria-label="Default select example"
      *ngIf="filter.value == 'category'"
    >
      <option selected disabled>-Select-</option>
      <option value="mouse">Mouse</option>
      <option value="keyboard">Keyboard</option>
      <option value="pc">PC</option>
    </select>
  </div>
</div> -->

<div class="d-flex justify-content-start">
  <input
    class="form-control me-2 w-auto"
    type="search"
    placeholder="Search here..."
    [(ngModel)]="filterText"
  />
  <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
  <div class="d-flex gap-2" style="width: auto">
    <select
      #status
      class="form-select ms-2"
      aria-label="Default select example"
      (change)="onStatusChange(status)"
    >
      <option selected disabled>-Status-</option>
      <option value="1">Free</option>
      <option value="2">Acquired</option>
      <option value="3">Damaged</option>
      <option value="4">Maintenance</option>
      <option value="5">Disposal</option>
    </select>

    <select
    #category
      class="form-select ms-2"
      aria-label="Default select example"
      (change)="onCategoryChange(category)"
    >
      <option selected disabled>-Category-</option>
      <option value="Mouse">Mouse</option>
      <option value="Keyboard">Keyboard</option>
      <option value="PC">PC</option>
    </select>
  </div>
  <button (click)="onRemoveFilters(status, category)" class="btn btn-primary w-auto ms-3" *ngIf="isFilterApplied"
  >Clear filters</button>
</div>

<table class="table table-striped table-hover align-middle my-4 bg-white">
  <thead class="bg-light">
    <tr>
      <th>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </div>
      </th>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Current user</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let asset of assetList
          | filter : filterText
          | filterAssetByStatus : filterStatus
          | filterAssetByCategory: filterCategory
      "
    >
      <td>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </div>
      </td>
      <td>
        {{ asset.id }}
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
            [src]="asset.imageUrl"
            alt=""
            style="width: 45px; height: 45px; object-position: center"
            class="rounded object-fit-cover"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{ asset.name }}</p>
            <p class="text-muted mb-0">{{ asset.assetType }}</p>
          </div>
        </div>
      </td>
      <td>
        <!-- <p class="fw-normal mb-1">Software engineer</p> -->
        <p class="mb-0">{{ asset.description! | truncate : 50 }}</p>
        <p class="text-muted mb-0 small">Created on {{ asset.createdOn }}</p>
      </td>
      <td>
        <span
          class="badge rounded-pill d-inline-block"
          style="min-width: 70px"
          [ngClass]="getStatus(asset.assetStatus!).class"
          >{{ getStatus(asset.assetStatus!).text }}</span
        >
      </td>
      <td>{{ asset.userId! | truncate : 20 }}</td>
      <td>
        <!-- <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button> -->
        <div class="d-flex flex-column flex-md-row gap-2">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            (click)="sendData(asset)"
          >
            View
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete-record"
            (click)="deleteAsset(asset.id!, 'asset')"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
