<div class="row">
  <h2>Dashboard</h2>
</div>
<div class="">
  <div class="d-flex flex-column flex-lg-row m-0 mt-5 mb-2 gap-4">
  <app-assets-widget class=" flex-fill"></app-assets-widget>
  <app-employee-widget class="flex-fill" [EmployeeTotalCount]="employeeList.length"></app-employee-widget>
  <app-vendors-widget class=" flex-fill" [vTotalCount]="vendorList.length"></app-vendors-widget>
  </div>
  <!-- <app-asset-list></app-asset-list> -->

  <div class="m-0 mt-5 mb-2">
    <h5 class="d-flex align-items-center px-3 m-0" style="line-height:2.25em">
      <i class="far fa-solid fa-bell pe-2"></i>
      <span>Notifications</span>
    </h5>
    <app-notifications-table></app-notifications-table>
  </div>

</div>
