@import '../../theme.scss';

*{
  margin: 0;
  padding:0;
}

.widgets {
  display: flex !important;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.widget-item {
  border-radius: 8px;
  width: 32.22%;
  min-width: 320px;
  // margin-right: 28px;
}
