$bg-white: #f8f9fa;
$bg-dark : #263238;
$bg-dark-hover : #2d3b42;
$hover-bg-dark:#f5f5f714;
$text-default: #1e1e1e;
$text-light-default: #f4f4f4d4;
$text-white: white;
$info-title-text: #858D9D;
$info-desc-text: #5D6679;
$primary:#1366D9;
$secondary:#5D6679;
$font-secondary:#4F5B67;
$success: #198754;
$failed: #FF1E34;
$success-bg: #5FBC6230;
$failed-bg: #FF1E3430;
$border:#acb0b8;


.btn {
  border-radius: 4px;
}

.cta {
  min-width: 120px !important;
}

.btn.btn-primary
{
  border: 1px solid $bg-dark;
  background-color: $bg-dark;
  border-color: $bg-dark;
  min-width: 100px;
}

.btn.btn-primary:hover
{
  color: $bg-dark;
  background-color: transparent;
  border-color: $bg-dark;
}

.btn.btn-primary:active {
  color: $text-white;
  background-color: $bg-dark-hover;
}

.btn.btn-secondary {
  background-color: transparent;
  color: $bg-dark;
}

.btn.btn-secondary:active {
  background-color: $bg-dark-hover;
  color: $text-light-default;
}
