$bg-white: #f8f9fa;
$bg-dark : #263238;
$bg-dark-hover : #2d3b42;
$hover-bg-dark:#f5f5f714;
$text-default: #1e1e1e;
$text-light-default: #f4f4f4d4;
$text-white: white;
$info-title-text: #858D9D;
$info-desc-text: #5D6679;
$primary:#1366D9;
$secondary:#5D6679;
$font-secondary:#4F5B67;
$success: #198754;
$failed: #FF1E34;
$success-bg: #5FBC6230;
$failed-bg: #FF1E3430;
$border:#acb0b8;
$hidden-text:#4d9fb8;
$array-add:#00b35f;
$supplyAsset: #00703c;
$vendors: #0069be;


.btn {
  border-radius: 4px;
}


.cta {
  min-width: 120px !important;
}

.btn.btn-primary
{
  // border: 1px solid $bg-dark;
  background-color: #198754;
  // border-color: $bg-dark;
  min-width: 100px;
}

.btn.btn-primary:hover
{
  color: $bg-dark;
  background-color: transparent;
  // border-color: $bg-dark;
}

.btn.btn-primary:active {
  color: $text-white;
  background-color: $bg-dark-hover;
}

.btn.btn-secondary {
  background-color: $bg-white;
  color: $bg-dark;
  border-color: $bg-white;
}

.btn.btn-secondary:active {
  background-color: $bg-dark-hover;
  color: $text-light-default;
}

.btn.optional {
  color: $info-title-text;
  font-size: 16px;
}

.btn.btn-arrayAdd {
  color: $text-white;
  background-color: $array-add;
}

.btn-remove {
  color: $text-white;
  background-color: $failed;
  border-color: none;
  padding: 5px;
}

.required {
  color: $failed;
  font-size: small;
}

.supplyAssetType {
  background-color: $supplyAsset;
  min-width: 60px;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
}

.otherDevices {
  width: 120px !important;
}
