<!-- Release Asset Modal -->

<div class="modal fade" id="release-asset-modal" tabindex="-1" aria-labelledby="release-asset-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <div class="row">
                  <h2 class="modal-title fs-5" id="release-asset-modal">Release Asset</h2>
              </div>
              <button type="button" class="btn-close" #closeModal data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <span>Are you sure you want to release this asset?</span>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> No </button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onRelease()"> Yes </button>
          </div>
      </div>
  </div>
</div>
